<p id="notice"><%= notice %></p>

<h1>Listing Comments</h1>

<%= form_tag comments_path, :method => 'get' do %>
  <%= label_tag 'Find Post: ' %>
  <%= text_field_tag :search, params[:search] %>
  Order by: <%= select_tag :order_by, options_for_select([['Lastest', 'desc'], ['Oldest', 'asc']], params[:order_by]), include_blank: true %>
  Show: <%= select_tag :approve, options_for_select([['Approved', 1], ['Disapproved', 0]], params[:approve]), include_blank: 'All' %>
  <%= submit_tag "Search" %>
<% end %>

<table>
  <thead>
    <tr>
      <th>ID </th>
      <th>Post Title</th>
      <th>Comment</th>
      <th>Author</th>
      <th>Date</th>
      <th colspan="4">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.id %></td>
        <td><%= comment.post.title %></td>
        <td><%= comment.content %></td>
        <td><%= comment.user.login %></td>
        <td><%= comment.created_at %></td>
        <% if comment.approved? %>
          <td><%= link_to 'Disapprove', disapprove_comment_path(comment), style: 'color: red' %></td>
        <% else %>
          <td><%= link_to 'Approve', approve_comment_path(comment), style: 'color: green' %></td>
        <% end %>
        <td><%= link_to 'Show', comment %></td>
        <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
        <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comment', new_comment_path %>
