<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @comment.content %>
</p>
<p>
  <strong>Created by:</strong>
  <%= @comment.user.login if @comment.user.present? %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comment_path %>
