<p id="notice"><%= notice %></p>

<h1 class="page-header">Dashboard</h1>

<div class='container theme-showcase'>
  <div class='jumbotron'>
  	<div class='row'>
  		<div class="col-sm-12">
  			<h2>New Users</h2>
  			<br/>
  			<%= area_chart @users.group_by_period(:day, :created_at).count %>
  		</div>
		  	<div class='col-md-12'>
		  		<h2>Summary</h2>
		  		<br/>
		  		<div class="table-responsive">
					<table class="table">
				    	<thead>
					      <tr>
					        <th class="summary-5">Users</th>
					        <th class="summary-2">Pages</th>
					        <th class="summary-5">Posts</th>
					        <th class="summary-2">Categories</th>
					        <th class="summary-5">Comments</th>
					      </tr>
		    			</thead>
		    			<tbody class='sum-td'>
		    				<tr>
			    				<td><%= @users.count %></td>
			    				<td><%= @pages.count %></td>
			    				<td><%= @posts.count %></td>
			    				<td><%= @categories.count %></td>
			    				<td><%= @comments.count %></td>
		    				</tr>
		    			</tbody>
	    			</table>
	    		</div>
		  	</div>

	  	<div class='row'>
	  		<div class='col-md-6'>
				<h3>Last Activity (Posts)</h3>
				<br/><br/>
				<div class="table-responsive">
					<table class="table">
				    	<thead>
					    	<tr>
						      <th>Title</th>
						      <th>Author</th>
						      <th>Created</th>
					    	</tr>
					    </thead>
					    <tbody class='sum-tbody'>
					    	<% @last_posts.each do |p| %>
						    	<tr>
								    <td><%= link_to p.title, post_path(p) %></td>
								    <td><%= link_to p.user.login, user_path(p.user) if p.user.present? %></td>
								    <td><%= p.created_at %></td>
								</tr>
							<% end %>
					    </tbody>
				    </table>
			    </div>
		  	</div>
		  	<div class='col-md-6'>
				<h3>Posts in each Categories</h3>
				<%= pie_chart @posts.group(:category_id).count.map{ |k, v| [ @categories.find(k).name, v ] } %>
		  	</div>
		  	<div class='col-md-6'>
				<h3>Most responded</h3>
		  		<%= bar_chart @comments.group(:post_id).count.map{ |k, v| [ @posts.find(k).title, v ] } %>
		  	</div>
		  	<div class='col-md-6'>
				<h3>Last Activity (Comments)</h3>
				<br/><br/>
				<div class="table-responsive">
					<table class="table">
				    	<thead>
					    	<tr>
					    	  <th>Post</th>
						      <th>Title</th>
						      <th>Author</th>
						      <th>Created</th>
					    	</tr>
					    </thead>
					    <tbody class='sum-tbody'>
					    	<% @last_comments.each do |comment| %>
						    	<tr>
						    		<td><%= link_to comment.post.title, post_path(comment) %></td>
								    <td><%= link_to comment.content, comment_path(comment) %></td>
								    <td><%= link_to comment.user.login, user_path(comment.user) if comment.user.present? %></td>
								    <td><%= comment.created_at %></td>
								</tr>
							<% end %>
					    </tbody>
				    </table>
			    </div>
		  	</div>
	  	</div>
  	</div>
  </div>
</div>