<div class='container'>
	<h1 class="page-header">Forum<span style='float: right'><%= link_to 'New Topic', new_forum_post_path, class: "label label-info", id: 'action-label', style: 'font-size: 1.5rem'%></span></h1>

<div class="field">
  </div>
	<div class="table-responsive">
	  <table class="table table-striped">
	    <thead>
	      <tr>
	        <th>Topic</th>
	        <th>Category</th>
	        <th>Author</th>
	        <th>Replies</th>
	        <th>Activity</th>
	        <th>Created</th>
	      </tr>
	    </thead>

	    <tbody>
	      <% @posts.each do |forum_post| %>
	        <tr>
	          <td class='forum-topics'><%= link_to forum_post.title, show_topic_path(forum_post) %></td>
	          <td class='forum-topics'><%= forum_post.forum_category.name %></td>
	          <td class='forum-topics'><%= link_to (image_tag forum_post.user.avatar.url(:thumb), id: 'forum-post-users', title: forum_post.user.login), show_user_profile_path(forum_post.user) %></td>
	          <td class='forum-topics'><%= forum_post.forum_replies.count %></td>
	          <% if forum_post.forum_replies.present? %>
	          	<td class='forum-topics'><%= time_ago_in_words(forum_post.forum_replies.last.created_at) %></td>
	          <% else %>
	          	<td class='forum-topics'>no replies</td>
	          <% end %>
	          <td class='forum-topics'><%= time_ago_in_words(forum_post.created_at) %></td>
	        </tr>
	      <% end %>
	    </tbody>
	  </table>
	<%= will_paginate @posts, next_label: '»', previous_label: '«' %>
	</div>
</div>