<p id="notice"><%= notice %></p>

<h1>Listing Users</h1>

<table>
  <thead>
    <tr>
      <th> Total Users </th>
      <th> This Day </th>
      <th> This Week </th>
      <th> This Month </th>
      <th> This Year </th>
    </tr>
  </thead>

  <tbody>
    <td align='center'><%= @users.count %> </td>
    <td align='center'><%= @users.group_by_day(:created_at, last: 1).count.values %> </td>
    <td align='center'><%= @users.group_by_week(:created_at, last: 1).count.values %> </td>
    <td align='center'><%= @users.group_by_month(:created_at, last: 1).count.values %> </td>
    <td align='center'><%= @users.group_by_year(:created_at, last: 1).count.values %> </td>
  </tbody>
</table>

<%= area_chart @users.group_by_period(:day, :created_at).count %>

<%= form_tag users_path, :method => 'get' do %>
    <%= label_tag 'Find User: ' %>
    <%= text_field_tag :search, params[:search] %>
    <%= select_tag :role, options_for_select(['Admin','User'], params[:role]), include_blank: true %>
    <%= submit_tag "Search" %>
<% end %>

<table>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Login</th>
      <th>Email</th>
      <th>Role</th>
      <th>Posts count</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td align='center'><%= user.first_name %></td>
        <td align='center'><%= user.last_name %></td>
        <td align='center'><%= user.login %></td>
        <td align='center'><%= user.email %></td>
        <td align='center'><%= User::ROLES.invert[user.role] %></td>
        <td align='center'><%= user.posts.count %></td>
        <td><%= link_to 'Show', user_path(user) %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user_path(user), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
