<div class='container'>
  <div class="jumbotron">
        <h1>Welcome to the home page !</h1>
        <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p><%= link_to 'Sign up !', new_user_registration_path, class: "btn btn-lg btn-success", role: "button" %></p>
    </div>
    <nav>
          <ul class="nav nav-justified">
            <% @pages.each do |page| %>
              <li><%= link_to page.title, show_page_path(page), class: 'mid' %></li>
            <% end %>
          </ul>

  </nav>

  <div class='row'>
    <div class="col-xs-12 col-sm-8 col-md-10">
    <% @posts.each do |post| %>  
    <div class="blog-post">
      <h2 class="blog-post-title"><%= link_to post.title, show_post_path(post) %></h2>
      <p class="blog-post-meta"><%= post.created_at %> <%= link_to post.user.login, show_user_profile_path(post.user) if post.user.present? %></p>
      <p><b><%= post.description %></b></p>
      <%= raw post.content %>
    </div>
    <% end %>  
    <%= will_paginate @posts, next_label: '»', previous_label: '«' %>
    </div>
    <div class="col-xs-4 col-md-2">
      <div class="sidebar-module">
        <h4>Cateogires</h4>
        <ol class="list-unstyled">
          <% @categories.each do |category| %>
            <li><%= link_to category.name, show_category_path(category) %></li>
          <% end %>
        </ol>
      </div>
    </div>
  </div>

</div>