<div class='container'>
	<div class="row">
		<h1> Posts in Category <%= @category.name %></h1>
		<% @category.posts.each do |post| %>
			<div class="col-sm-6 col-md-4">
				<div class="thumbnail">
					<%= image_tag post.image.url(:large) %>
					<div class="caption">
						<h3><%= link_to post.title, show_post_path(post) %></h3>
						<p><%= post.description %></p>
					</div>
				</div>
			</div>
		<% end %>
	</div>
	<%= link_to 'Back', :back, class: "label label-warning back-button", id: 'action-label' %>
	<br />
</div>
