<div class='container'>
	<h1> <%= @post.title %></h1>
	<p class="blog-post-meta"><%= @post.created_at %> <%= link_to @post.user.login, show_user_profile_path(@post.user) if @post.user.present? %></p>
	<p><b><%= @post.description %></b></p>
	<%= raw @post.content %>

	<% @comments.each do |comment| %>
		<div class="media">
  			<div class="media-left media-middle">
      			<%= image_tag comment.user.avatar.url(:thumb), class: 'media-object' %>
  			</div>
  			<div class="media-body">
		    	<h4 class='media-heading'><%= link_to comment.user.login, show_user_profile_path(comment.user) %></h4>
		    	<%= comment.content %>
		  	</div>
  		</div>
	<% end %>
	<%= link_to 'Back', :back, class: "label label-warning", id: 'action-label' %>
</div>