<p id="notice"><%= notice %></p>

<h1 class="page-header">Pages</h1>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Slug</th>
        <th>Author</th>
        <th>Created at</th>
        <th colspan="3">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @pages.each do |page| %>
        <tr>
          <td><%= page.id %></td>
          <td><%= page.title %></td>
          <td><%= page.slug %></td>
          <td><%= page.user.login if page.user.present? %></td>
          <td><%= page.created_at %></td>
          <td><%= link_to 'Show', page, class: "label label-success", id: 'action-label' %></td>
          <td><%= link_to 'Edit', edit_page_path(page), class: "label label-primary", id: 'action-label' %></td>
          <td><%= link_to 'Destroy', page, method: :delete, data: { confirm: 'Are you sure?' }, class: "label label-danger", id: 'action-label' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'New Page', new_page_path, class: "label label-info", id: 'action-label'%>
