<h1 class="page-header"> Title: <%= @page.title %></h1>
<div class='container theme-showcase'>
  <div class='jumbotron'>
		<p>
		  	<span>
		  		Added by
			 	<strong><%= link_to @page.user.login, user_path(@page.user) if @page.user.present? %></strong>
			  	about
			 	<%= time_ago_in_words(@page.created_at) %>
			 	ago
		 	</span>
		</p>
		<%= raw@page.content %>
		<br/>

		<%= link_to 'Edit', edit_page_path(@page), class: "label label-primary", id: 'action-label' %>
		<%= link_to 'Back', pages_path, class: "label label-warning", id: 'action-label' %>
	</div>
</div>