<p id="notice"><%= notice %></p>

<h1 class="page-header"> Title: <%= @post.title %></h1>
<div class='container theme-showcase'>
  <div class='jumbotron'>
		<p>
		  	<span>
		  		Added by
			 	<strong><%= link_to @post.user.login, user_path(@post.user) if @post.user.present? %></strong>
			  	about
			 	<%= time_ago_in_words(@post.created_at) %>
			 	ago
		 	</span>
		</p>
		<p>
			Category: <%= @post.category.name %>
		</p>
			<%= raw@post.content %>
		<br/>

		<%= link_to 'Edit', edit_post_path(@post), class: "label label-primary", id: 'action-label' %>
		<%= link_to 'Back', posts_path, class: "label label-warning", id: 'action-label' %>
	</div>
</div>