<h1 class="page-header"> Title: <%= @forum_post.title %><p><strong>Category: </strong><%= link_to @forum_post.forum_category.name, forum_category_path(@forum_post.forum_category) %></p></h1>
<div class='container theme-showcase'>
	<div class='forum-post'>
		<div class='row'>
			<div class='col-md-1'>
				<%= image_tag @forum_post.user.avatar.url(:thumb), class: 'media-object'%>
			</div>
			<div class='col-md-11'>
				<span class='reply-user'><strong><%= link_to @forum_post.user.login, user_path(@forum_post.user) %></strong></span>
				<span class='reply-time'><%= time_ago_in_words(@forum_post.created_at) %> ago</span>
				<div class='reply-text'>
					<%= raw @forum_post.content %>
				</div>
			</div>
		</div>
		<div class='row'>
			<div class='col-md-8 col-md-offset-2' id='forum-post-summary'>
				<div class='col-md-3'>
					<p>created</p>
					<%= link_to (image_tag @forum_post.user.avatar.url(:thumb)), user_path(@forum_post.user), title: @forum_post.user.login %>
					<p><%= time_ago_in_words(@forum_post.created_at) %></p>
				</div>
				<div class='col-md-3'>
					<p>last reply</p>
					<% if @forum_post.forum_replies.present? %>
						<%= link_to (image_tag @forum_post.forum_replies.last.user.avatar.url(:thumb)), user_path(@forum_post.forum_replies.last.user), title: @forum_post.user.login %>
						<p><%= time_ago_in_words(@forum_post.forum_replies.last.created_at) %></p>
					<% else %>
						<p id='replies-numbers'>no replies</p>
					<% end %>
				</div>
				<div class='col-md-3'>
					<p id='replies-numbers'><%= @forum_replies.count %></p>
					<p>replies</p>
				</div>
				<div class='col-md-3'>
					<p id='replies-numbers'><%= @forum_replies.count %></p>
					<p>views</p>
				</div>
			</div>
		</div>				
	</div>
	<%= render 'forum_replies/replies' %>

	<%= link_to 'Edit', edit_forum_post_path(@forum_post), class: "label label-primary", id: 'action-label' %>
	<%= link_to 'Back', forum_posts_path, class: "label label-warning", id: 'action-label' %>

</div>