<p id="notice"><%= notice %></p>

<h1 class="page-header">Categories</h1>

<%= form_tag categories_path, :method => 'get', class: "navbar-form navbar-left" do %>
  <div class="form-group">
    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
    <%= label_tag 'Find Category: ' %>
    <%= text_field_tag :search, params[:search], class: "form-control" %>
    <%= select_tag :order_by, options_for_select([['Descending', 'desc'], ['Ascending', 'asc']], params[:order_by]), include_blank: 'Order by posts', class: "btn btn-default dropdown-toggle" %>
  </div>
  <%= submit_tag "Search", class: "btn btn-default" %>
<% end %>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Posts count</th>
        <th>Author</th>
        <th>Created at</th>
        <th colspan="3">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @categories.each do |category| %>
        <tr>
          <td><%= category.id %></td>
          <td><%= category.name %></td>
          <td><%= category.posts.count %></td>
          <td><%= category.user.login if category.user.present? %></td>
          <td><%= category.created_at %></td>
          <td><%= link_to 'Show', category, class: "label label-success", id: 'action-label' %></td>
          <td><%= link_to 'Edit', edit_category_path(category), class: "label label-primary", id: 'action-label' %></td>
          <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' }, class: "label label-danger", id: 'action-label' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @categories, next_label: '»', previous_label: '«' %>
</div>
<br>

<%= link_to 'New Category', new_category_path, class: "label label-info", id: 'action-label' %>
