<h1 class="page-header">Category: <%= @category.name %></h1>
<div class='container theme-showcase'>
  	<div class='jumbotron'>
		<p>
		  	<span>
		  		Added by
			 	<strong><%= link_to @category.user.login, user_path(@category.user) if @category.user.present? %></strong>
			  	about
			 	<%= time_ago_in_words(@category.created_at) %>
			 	ago
		 	</span>
		</p>
		<p>
			<strong>Posts count:</strong> <%= @category.posts.count %>
		</p>
		<br/>

		<%= link_to 'Edit', edit_category_path(@category), class: "label label-primary", id: 'action-label' %>
		<%= link_to 'Back', categories_path, class: "label label-warning", id: 'action-label' %>
	</div>
</div>