<!DOCTYPE html>
<html>
<head>
  <title>NewIdea | Dashboard</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "https://www.google.com/jsapi", "chartkick" %>

</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top" id='nav-header'>
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Admin Dashboard</a>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to 'Home', root_path %></li>
            <li><%= link_to 'Profile', edit_user_registration_path(current_user) %></li>
            <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
          </ul>
        </div>
      </div>
    </nav>
	<div class="container-fluid">
      	<div class="row">
	        <div class="col-sm-3 col-md-2 sidebar" >
	          <ul class="nav nav-sidebar">
	            <li><%= link_to 'Users', users_path %></li>
	            <li><%= link_to 'Posts', posts_path %></li>
	            <li><%= link_to 'Comments', comments_path %></li>
	            <li><%= link_to 'Categories', categories_path %></li>
	            <li><%= link_to 'Pages', pages_path %></li>
	          </ul>
	        </div>
	        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	      		<%= yield %>
	      	</div>
    	</div>
    </div>

</body>
</html>
