<!DOCTYPE html>
<html>
<head>
  <title>NewIdea | Dashboard</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "https://www.google.com/jsapi", "chartkick" %>

</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top" id='nav-header'>
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Admin Dashboard</a>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to 'Home', root_path %></li>
            <li><%= link_to 'Profile', edit_user_registration_path(current_user) %></li>
            <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
          </ul>
        </div>
      </div>
    </nav>
	<div class="container-fluid">
  	<div class="row">
      <div class="col-sm-3 col-md-2 sidebar" >
        <ul class="nav nav-sidebar">
          <li><%= link_to 'Dashboard', admin_root_path %></li>
          <li><a data-toggle="collapse" href="#collapseExampleUsers">Users</a></li>
            <div class="collapse" id="collapseExampleUsers">
              <div class="well">
                <ul class="nav nav-sidebar">
                  <li>
                    <%= link_to users_path do %>
                      <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                      All Users
                    <% end %>
                  </li>
                  <li>
                    <%= link_to new_user_path do %>
                      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                      Add User
                    <% end %>
                  </li>
                </ul>
              </div>
            </div>
          <li><a data-toggle="collapse" href="#collapseExamplePosts">Posts</a></li>
            <div class="collapse" id="collapseExamplePosts">
              <div class="well">
                <ul class="nav nav-sidebar">
                  <li>
                    <%= link_to posts_path do %>
                      <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                      All Posts
                    <% end %>
                  </li>
                  <li>
                    <%= link_to new_post_path do %>
                      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                      Add Post
                    <% end %>
                    </li>
                </ul>
              </div>
            </div>
          <li><a data-toggle="collapse" href="#collapseExampleComments">Comments</a></li>
            <div class="collapse" id="collapseExampleComments">
              <div class="well">
                <ul class="nav nav-sidebar">
                  <li>
                    <%= link_to comments_path do %>
                      <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                      All Comments
                    <% end %>
                  </li>
                </ul>
              </div>
            </div>
          <li><a data-toggle="collapse" href="#collapseExampleCategories">Categories</a></li>
            <div class="collapse" id="collapseExampleCategories">
              <div class="well">
                <ul class="nav nav-sidebar">
                  <li>
                    <%= link_to categories_path do %>
                      <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                      All Categories
                    <% end %>
                  </li>
                  <li>
                    <%= link_to new_category_path do %>
                      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                      Add Category
                    <% end %>
                  </li>
                </ul>
              </div>
            </div>
          <li><a data-toggle="collapse" href="#collapseExamplePages">Pages</a></li>
            <div class="collapse" id="collapseExamplePages">
              <div class="well">
                <ul class="nav nav-sidebar">
                  <li>
                  <%= link_to pages_path do %>
                    <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                    All Pages
                  <% end %>
                  </li>
                  <li>
                    <%= link_to new_page_path do %>
                      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                      Add Page
                    <% end %>
                  </li>
                </ul>
              </div>
            </div>
        </ul>
      </div>
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    		<%= yield %>
    	</div>
  	</div>
  </div>

</body>
</html>
